.photoChooser
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  flex-wrap: wrap;

  img
    flex: 1;
    max-width: 15%
    max-height: 20em;
    margin: 0.4em
    border:solid 1px black;
  .selected
    border-color: #3498db
    box-shadow:0px 12px 22px 1px #333;
