.search
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 3em;
  .searchBar
    width: 15em;
    height: 2em;
    font-size: 1em;
    text-align: center;
  .searchButton
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
