.gallery
  width: 90%
  height: 80%
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2c3e50;
  button
    align-self: stretch;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    flex: 1;
    i
      color: #bdc3c7;
  .galleryView
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
