body,html
  height: 100%;
  width: 100%;
body
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
.view-container
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
.hidden
  display: none !important;
  visibility: hidden;

.showGallery
  margin-top: 2em;
  border-radius: 2em;
  height: 2.5em;
  font-size: 1em;
  background-color: #95a5a6;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
